/* 

.invisible {
	display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal, .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
  }

  .modal__background__content{
    width: 80%;
  }
  
  .overlay {
    background: rgba(49,49,49,0.8);
  }

  .modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #12002b;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
  }
  
  .btn-edit {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
  }

  .close-modal {
    position: absolute; 
    right: 10%;
  }

  input[readonly] {
    background-color: #ccc;
    color: #968a62;
    cursor: not-allowed;
  }
  
   */